.gameMain {
  display: block;
}

.boardRow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.boardRow:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}
